// Colores
$color-primario: darkgreen;
$color-secundario: rgb(152, 239, 152);
$color-blanco: #fff;
$color-header: rgb(226, 226, 204);
$color-borde: #ccc;
$color-letra: 555;

// Colores de interacciones
$color-fondo: #ece7e7;
$color-boton: #007bff;

// Espaciado y tamaño
$padding-base: 15px;
$margin-base: 20px;
$padding: 10px;
$padding-secundario:20px;

// Dimensiones

$max-width: 600px;
$border-radius: 10px;

// Tipografía y colores de títulos

$fuente-principal: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
$fuente-secundaria: 'Fredoka', sans-serif;

$tamano-fuente-base: 16px;
$tamano-fuente-subtitulo: 18px;

// Transiciones

$transicion-logo: 0.3s ease-in-out;